$color = {
  red--lighten--5: #FFEBEE
  red--lighten--4: #FFCDD2
  red--lighten--3: #EF9A9A
  red--lighten--2: #E57373
  red--lighten--1: #EF5350
  red            : #F44336
  red--darken--1 : #E53935
  red--darken--2 : #D32F2F
  red--darken--3 : #C62828
  red--darken--4 : #B71C1C

  pink--lighten--5: #FCE4EC
  pink--lighten--4: #F8BBD0
  pink--lighten--3: #F48FB1
  pink--lighten--2: #F06292
  pink--lighten--1: #EC407A
  pink            : #E91E63
  pink--darken--1 : #D81B60
  pink--darken--2 : #C2185B
  pink--darken--3 : #AD1457
  pink--darken--4 : #880E4F

  purple--lighten--5: #F3E5F5
  purple--lighten--4: #E1BEE7
  purple--lighten--3: #CE93D8
  purple--lighten--2: #BA68C8
  purple--lighten--1: #AB47BC
  purple            : #9C27B0
  purple--darken--1 : #8E24AA
  purple--darken--2 : #7B1FA2
  purple--darken--3 : #6A1B9A
  purple--darken--4 : #4A148C

  deep-purple--lighten--5: #EDE7F6
  deep-purple--lighten--4: #D1C4E9
  deep-purple--lighten--3: #B39DDB
  deep-purple--lighten--2: #9575CD
  deep-purple--lighten--1: #7E57C2
  deep-purple            : #673AB7
  deep-purple--darken--1 : #5E35B1
  deep-purple--darken--2 : #512DA8
  deep-purple--darken--3 : #4527A0
  deep-purple--darken--4 : #311B92

  indigo--lighten--5: #E8EAF6
  indigo--lighten--4: #C5CAE9
  indigo--lighten--3: #9FA8DA
  indigo--lighten--2: #7986CB
  indigo--lighten--1: #5C6BC0
  indigo            : #3F51B5
  indigo--darken--1 : #3949AB
  indigo--darken--2 : #303F9F
  indigo--darken--3 : #283593
  indigo--darken--4 : #1A237E

  blue--lighten--5: #E3F2FD
  blue--lighten--4: #BBDEFB
  blue--lighten--3: #90CAF9
  blue--lighten--2: #64B5F6
  blue--lighten--1: #42A5F5
  blue            : #2196F3
  blue--darken--1 : #1E88E5
  blue--darken--2 : #1976D2
  blue--darken--3 : #1565C0
  blue--darken--4 : #0D47A1

  light-blue--lighten--5: #E1F5FE
  light-blue--lighten--4: #B3E5FC
  light-blue--lighten--3: #81D4FA
  light-blue--lighten--2: #4FC3F7
  light-blue--lighten--1: #29B6F6
  light-blue            : #03A9F4
  light-blue--darken--1 : #039BE5
  light-blue--darken--2 : #0288D1
  light-blue--darken--3 : #0277BD
  light-blue--darken--4 : #01579B

  cyan--lighten--5: #E0F7FA
  cyan--lighten--4: #B2EBF2
  cyan--lighten--3: #80DEEA
  cyan--lighten--2: #4DD0E1
  cyan--lighten--1: #26C6DA
  cyan            : #00BCD4
  cyan--darken--1 : #00ACC1
  cyan--darken--2 : #0097A7
  cyan--darken--3 : #00838F
  cyan--darken--4 : #006064

  teal--lighten--5: #E0F2F1
  teal--lighten--4: #B2DFDB
  teal--lighten--3: #80CBC4
  teal--lighten--2: #4DB6AC
  teal--lighten--1: #26A69A
  teal            : #009688
  teal--darken--1 : #00897B
  teal--darken--2 : #00796B
  teal--darken--3 : #00695C
  teal--darken--4 : #004D40

  green--lighten--5: #E8F5E9
  green--lighten--4: #C8E6C9
  green--lighten--3: #A5D6A7
  green--lighten--2: #81C784
  green--lighten--1: #66BB6A
  green            : #4CAF50
  green--darken--1 : #43A047
  green--darken--2 : #388E3C
  green--darken--3 : #2E7D32
  green--darken--4 : #1B5E20

  light-green--lighten--5: #F1F8E9
  light-green--lighten--4: #DCEDC8
  light-green--lighten--3: #C5E1A5
  light-green--lighten--2: #AED581
  light-green--lighten--1: #9CCC65
  light-green            : #8BC34A
  light-green--darken--1 : #7CB342
  light-green--darken--2 : #689F38
  light-green--darken--3 : #558B2F
  light-green--darken--4 : #33691E

  lime--lighten--5: #F9FBE7
  lime--lighten--4: #F0F4C3
  lime--lighten--3: #E6EE9C
  lime--lighten--2: #DCE775
  lime--lighten--1: #D4E157
  lime            : #CDDC39
  lime--darken--1 : #C0CA33
  lime--darken--2 : #AFB42B
  lime--darken--3 : #9E9D24
  lime--darken--4 : #827717

  yellow--lighten--5: #FFFDE7
  yellow--lighten--4: #FFF9C4
  yellow--lighten--3: #FFF59D
  yellow--lighten--2: #FFF176
  yellow--lighten--1: #FFEE58
  yellow            : #FFEB3B
  yellow--darken--1 : #FDD835
  yellow--darken--2 : #FBC02D
  yellow--darken--3 : #F9A825
  yellow--darken--4 : #F57F17

  amber--lighten--5: #FFF8E1
  amber--lighten--4: #FFECB3
  amber--lighten--3: #FFE082
  amber--lighten--2: #FFD54F
  amber--lighten--1: #FFCA28
  amber            : #FFC107
  amber--darken--1 : #FFB300
  amber--darken--2 : #FFA000
  amber--darken--3 : #FF8F00
  amber--darken--4 : #FF6F00

  orange--lighten--5: #FFF3E0
  orange--lighten--4: #FFE0B2
  orange--lighten--3: #FFCC80
  orange--lighten--2: #FFB74D
  orange--lighten--1: #FFA726
  orange            : #FF9800
  orange--darken--1 : #FB8C00
  orange--darken--2 : #F57C00
  orange--darken--3 : #EF6C00
  orange--darken--4 : #E65100

  deep-orange--lighten--5: #FBE9E7
  deep-orange--lighten--4: #FFCCBC
  deep-orange--lighten--3: #FFAB91
  deep-orange--lighten--2: #FF8A65
  deep-orange--lighten--1: #FF7043
  deep-orange            : #FF5722
  deep-orange--darken--1 : #F4511E
  deep-orange--darken--2 : #E64A19
  deep-orange--darken--3 : #D84315
  deep-orange--darken--4 : #BF360C

  brown--lighten--5: #EFEBE9
  brown--lighten--4: #D7CCC8
  brown--lighten--3: #BCAAA4
  brown--lighten--2: #A1887F
  brown--lighten--1: #8D6E63
  brown            : #795548
  brown--darken--1 : #6D4C41
  brown--darken--2 : #5D4037
  brown--darken--3 : #4E342E
  brown--darken--4 : #3E2723

  blue-gray--lighten--5: #ECEFF1
  blue-gray--lighten--4: #CFD8DC
  blue-gray--lighten--3: #B0BEC5
  blue-gray--lighten--2: #90A4AE
  blue-gray--lighten--1: #78909C
  blue-gray            : #607D8B
  blue-gray--darken--1 : #546E7A
  blue-gray--darken--2 : #455A64
  blue-gray--darken--3 : #37474F
  blue-gray--darken--4 : #263238

  gray--lighten--5: #FAFAFA
  gray--lighten--4: #F2F2F2
  gray--lighten--3: #E5E5E5
  gray--lighten--2: #C7C7C7
  gray--lighten--1: #9E9E9E
  gray            : #757575
  gray--darken--1 : #616161
  gray--darken--2 : #424242
  gray--darken--3 : #333333
  gray--darken--4 : #212121

  amazon   : #F19E38
  facebook : #3d5f9d
  feedly   : #8ABD50
  github   : #202529
  hatebu   : #318fdf
  instagram: #881272
  line     : #00C300
  linkedin : #1178B3
  note     : #41c9b4
  pinterest: #BB0C23
  pixiv    : #0096fa
  pocket   : #f14154
  qiita    : #55c500
  skype    : #00AFF0
  twitter  : #43a7e1
  youtube  : #fc091b
}

$color.alpha--blue-gray--lighten--5 = transparentify($color.blue-gray--lighten--5)
$color.alpha--blue-gray--lighten--4 = transparentify($color.blue-gray--lighten--4)
$color.alpha--blue-gray--lighten--3 = transparentify($color.blue-gray--lighten--3)
$color.alpha--blue-gray--lighten--2 = transparentify($color.blue-gray--lighten--2)
$color.alpha--blue-gray--lighten--1 = transparentify($color.blue-gray--lighten--1)
$color.alpha--blue-gray             = transparentify($color.blue-gray)
$color.alpha--blue-gray--darken--1  = transparentify($color.blue-gray--darken--1)
$color.alpha--blue-gray--darken--2  = transparentify($color.blue-gray--darken--2)
$color.alpha--blue-gray--darken--3  = transparentify($color.blue-gray--darken--3)
$color.alpha--blue-gray--darken--4  = transparentify($color.blue-gray--darken--4)


$color.alpha--black--lighten--5 = transparentify($color.gray--lighten--5)
$color.alpha--black--lighten--4 = transparentify($color.gray--lighten--4)
$color.alpha--black--lighten--3 = transparentify($color.gray--lighten--3)
$color.alpha--black--lighten--2 = transparentify($color.gray--lighten--2)
$color.alpha--black--lighten--1 = transparentify($color.gray--lighten--1)
$color.alpha--black             = transparentify($color.gray)
$color.alpha--black--darken--1  = transparentify($color.gray--darken--1)
$color.alpha--black--darken--2  = transparentify($color.gray--darken--2)
$color.alpha--black--darken--3  = transparentify($color.gray--darken--3)
$color.alpha--black--darken--4  = transparentify($color.gray--darken--4)

$color.alpha--white--lighten--5 = transparentify($color.gray--lighten--5, #000)
$color.alpha--white--lighten--4 = transparentify($color.gray--lighten--4, #000)
$color.alpha--white--lighten--3 = transparentify($color.gray--lighten--3, #000)
$color.alpha--white--lighten--2 = transparentify($color.gray--lighten--2, #000)
$color.alpha--white--lighten--1 = transparentify($color.gray--lighten--1, #000)
$color.alpha--white             = transparentify($color.gray, #000)
$color.alpha--white--darken--1  = transparentify($color.gray--darken--1, #000)
$color.alpha--white--darken--2  = transparentify($color.gray--darken--2, #000)
$color.alpha--white--darken--3  = transparentify($color.gray--darken--3, #000)
$color.alpha--white--darken--4  = transparentify($color.gray--darken--4, #000)

// $color.link       = $color.blue
// $color.link-hover = $color.blue--lighten--1
// $color.background = $color.alpha--black--lighten--4
// $color.heading    = $color.alpha--black--darken--4
// $color.text       = $color.alpha--black--darken--3
// $color.subtext    = $color.alpha--black
// $color.border     = $color.alpha--black--lighten--3

// $color.basic = $color.gray
// $color.info    = $color.light-blue
// $color.success = $color.green
// $color.warning = $color.amber
// $color.danger  = $color.red

// $color.primary   = $color.indigo--darken--3
// $color.secondary = $color.light-blue--darken--1

// $color = merge($color, $color)
