$ratio = {
  golden : 1.618
  silver : 1.414
  silver2: 2.414

  root2: 1.414
  root3: 1.732
  root5: 2.236

  minor-second      : 1.067
  major-second      : 1.125
  minor-third       : 1.2
  major-third       : 1.25
  perfect-fourth    : 1.333
  augmented-fourth  : 1.414
  perfect-fifth     : 1.5
  minor-sixth       : 1.6
  major-sixth       : 1.667
  minor-seventh     : 1.778
  major-seventh     : 1.875
  octave            : 2
  minor-ninth       : 2.134
  major-ninth       : 2.25
  minor-tenth       : 2.4
  major-tenth       : 2.5
  perfect-eleventh  : 2.667
  augmented-eleventh: 2.828
  perfect-twelfth   : 3
  minor-thirteen    : 3.2
  major-thirteen    : 3.333
  minor-fourteen    : 3.556
  major-fourteen    : 3.75
  double-octave     : 4

  m2   : 1.067
  M2   : 1.125
  m3   : 1.2
  M3   : 1.25
  P4   : 1.333
  '#4' : 1.414
  P5   : 1.5
  m6   : 1.6
  M6   : 1.667
  m7   : 1.778
  M7   : 1.875
  P8   : 2
  m9   : 2.134
  M9   : 2.25
  m10  : 2.4
  M10  : 2.5
  P11  : 2.667
  '#11': 2.828
  P12  : 3
  m13  : 3.2
  M13  : 3.333
  m14  : 3.556
  M14  : 3.75
  P15  : 4
}
