:root {
  --blog-all: #A3A3A3;
  --blog-works: #766DA0;
  --blog-case-study: #8C697D;
  --blog-3d-printer: #BC9766;
  --blog-filament: #578CA3;
  --blog-information: #578E50;
}

.blog-nav {
  list-style: none;
  margin: 3rem auto 2rem;
}

.blog-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.blog-nav-list:has(
  .blog-nav-works:hover,
  .blog-nav-case-study:hover,
  .blog-nav-3d-printer:hover,
  .blog-nav-filament:hover,
  .blog-nav-information:hover) .blog-nav-all {
  border-color: transparent;
}

.blog-nav-item {
  border: 1px solid transparent;
  padding: 0.375rem;
  color: inherit;
  font-size: 0.875rem;
  width: 6.5rem;
  text-align: center;
  transition: border-color 0.2s, color 0.2s, background-color 0.2s;
}

.blog-nav-item:hover {
  text-decoration: none;
}

.blog-nav-all {
  border-color: var(--blog-all);
}

.blog-nav-all:hover {
  background-color: var(--blog-all);
  color: white;
}

.blog-nav-works:hover,
.blog-nav-works.current {
  border-color: var(--blog-works);
  color: var(--blog-works);
}

.blog-nav-case-study:hover,
.blog-nav-case-study.current {
  border-color: var(--blog-case-study);
  color: var(--blog-case-study);
}

.blog-nav-3d-printer:hover,
.blog-nav-3d-printer.current {
  border-color: var(--blog-3d-printer);
  color: var(--blog-3d-printer);
}

.blog-nav-filament:hover,
.blog-nav-filament.current {
  border-color: var(--blog-filament);
  color: var(--blog-filament);
}

.blog-nav-information:hover,
.blog-nav-information.current {
  border-color: var(--blog-information);
  color: var(--blog-information);
}

.c-summary._card_ .c-taxonomy {
  background-color: transparent;
}

.c-summary._card_ .c-term {
  background-color: var(--color-primary);
  padding-left: 0.5rem;
  transition: 0.2s;
}

.c-summary._card_:hover ._category-works_ {
  background-color: var(--blog-works);
}

.c-summary._card_:hover ._category-case-study_ {
  background-color: var(--blog-case-study);
}

.c-summary._card_:hover ._category-3d-printer_ {
  background-color: var(--blog-3d-printer);
}

.c-summary._card_:hover ._category-filament_ {
  background-color: var(--blog-filament);
}

.c-summary._card_:hover ._category-information_ {
  background-color: var(--blog-information);
}

.c-meta__a {
  color: inherit;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem 0.125rem;
  border-radius: 0.125rem;
  transition: 0.2s;
}

.c-meta__a + .c-meta__a {
  margin-left: 0.5rem;
}

/* .c-meta .category-3d-printer {
  border-color: var(--blog-3d-printer);
  color: var(--blog-3d-printer);
}

.c-meta .category-filament {
  border-color: var(--blog-filament);
  color: var(--blog-filament);
} */

.c-meta .category-works:hover {
  border-color: var(--blog-works);
  color: var(--blog-works);
}
.c-meta .category-case-study:hover {
  border-color: var(--blog-case-study);
  color: var(--blog-case-study);
}
.c-meta .category-3d-printer:hover {
  border-color: var(--blog-3d-printer);
  color: var(--blog-3d-printer);
}

.c-meta .category-filament:hover {
  border-color: var(--blog-filament);
  color: var(--blog-filament);
}

.c-meta .category-information:hover {
  border-color: var(--blog-information);
  color: var(--blog-information);
}

@media all and (min-width: 960px) {

  .blog-nav {
    margin: 3rem auto;
  }
  .blog-nav-list {
    justify-content: flex-start;
  }

  .blog-nav-item {
    font-size: 1rem;
    padding: 0.5rem;
    width: 7.5rem;
  }
}