$color-primary: #333;
$color-secondary: rgb(240, 130, 21);

$radius: 0;
// $grid-gutter: 40px;

$nav-background: white;
$nav-color: #333;
$nav-logo-width: 132px;
$nav-logo-width-lg: 164px;

// $btn-radius: 0;
$btn-box-shadow: none;

$border-width: 2px;
$border-color: #333;

$input-width: 512px;

$widget-box-shadow: false;
$icon-color: $color-secondary;

$notice-border-width: 1px;
$notice-radius: 3px;

$table-border: 1px solid $border-color;
