-border-radius(pxval = $data.border-radius)
  border-radius: rem(pxval)

border-top-radius(pxval = $data.border-radius)
  border-top-left-radius: rem(pxval)
  border-top-right-radius: rem(pxval)

border-right-radius(pxval = $data.border-radius)
  border-top-right-radius: rem(pxval)
  border-bottom-right-radius: rem(pxval)

border-bottom-radius(pxval = $data.border-radius)
  border-bottom-right-radius: rem(pxval)
  border-bottom-left-radius: rem(pxval)

border-left-radius(pxval = $data.border-radius)
  border-top-left-radius: rem(pxval)
  border-bottom-left-radius: rem(pxval)
