icon-container(position = right, color = null)
  position relative
  padding-{position} u()

  > .fa,
  > .svg-inline--fa
    margin auto
    position absolute
    {position} 0

    if $icon-color is a 'rgba'
      color color

    if position == right || position == left
      top 0
      bottom 0

    else if position == top || position == bottom
      left 0
      right 0
